Author: BEDEZUB
Date: 2021-08-12
Title: Pandas Ultraquick
Objective: To understand how pandas work

In [3]:
import numpy as np
import pandas as pd

In [5]:
# Create dataframe
table_column_name = ['temperature', 'activity']
table_content = np.array([
    [2, 4],
    [1, 7],
    [2, 9]
])

dataframe = pd.DataFrame(
    columns=table_column_name,
    data=table_content
)
print(dataframe)

   temperature  activity
0            2         4
1            1         7
2            2         9

In [6]:
dataframe["adjusted"] = dataframe["activity"] + 2 # Value untuk column adjusted tu is value of column activity + 2

print(dataframe)

   temperature  activity  adjusted
0            2         4         6
1            1         7         9
2            2         9        11

In [8]:
# Manipulating with dataframe

print("Rows #0, #1, and #2:")
print(dataframe.head(3), '\n') # First 3 rows

print("Row #2:")
print(dataframe.iloc[[2]], '\n') # Call specific column

print("Rows #1, #2, and #3:")
print(dataframe[1:4], '\n') # Call row from 1 to 4

print("Column 'temperature':")
print(dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            2         4         6
1            1         7         9
2            2         9        11

Row #2:
   temperature  activity  adjusted
2            2         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1            1         7         9
2            2         9        11

Column 'temperature':
0    2
1    1
2    2
Name: temperature, dtype: int64

In [24]:
# Task 1: Create a DataFrame 

task_one_column_name = ["Eleanor", "Chidi", "Tahani", "Jason"]
task_one_contents = np.random.randint(low=0, high=101, size=(3,4)) # Untuk size, (row, column)
task_one_dataframe = pd.DataFrame(columns=task_one_column_name, data=task_one_contents)

In [25]:
print("Output of entire dataframe: ")
print(task_one_dataframe, "\n")

print("Value of cell of row 1 of the Eleanor")
print(task_one_dataframe["Eleanor"][1]) # Bila call, [column][row] lol

Output of entire dataframe:
   Eleanor  Chidi  Tahani  Jason
0       47     53      43     71
1       27     70      33     41
2      100     29      86     78

Value of cell of row 1 of the Eleanor
27

In [28]:
task_one_dataframe["Janet"] = task_one_dataframe['Tahani'] + task_one_dataframe["Jason"]

print(task_one_dataframe)

   Eleanor  Chidi  Tahani  Jason  Janet
0       47     53      43     71    114
1       27     70      33     41     74
2      100     29      86     78    164